body{
    margin: 0;
    padding: 0;

}

.login-img{
    width: 150px;
    margin-bottom: 30px;
}
.content_informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}


.content_froms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    padding: 60px;

}


