<!DOCTYPE html>
<html lang="es">
<head>
    <!-- separar logica css con logica html -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Empleo - Buscar Trabajo</title>
     <link rel="stylesheet" href="{{url_for('static',filename='Inicio_usuarios.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="http://127.0.0.1:5000" class="logo">Workify</a>
            <ul class="nav-menu">
                <li><a href="http://127.0.0.1:5000">Inicio</a></li> 
               
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Sección hero -->
        <section class="hero-section">
            <h1>Encuentra tu trabajo ideal</h1>
            <p>Explora miles de oportunidades laborales y encuentra la posición perfecta para tu carrera profesional.</p>
        </section>




</body>
</html>