<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inciar Sesión</title>
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    </head>
    <body> 
            <div class="container-login">
                <div>
                    <a href="http://127.0.0.1:5000">
                        <img id="login-img"src="static/images/logo.png">
                    </a>
                </div>
                
                    <form class="section-form">
                        <h2 id="txtform">Inicie Sesión</h2>
                        <label>Correo</label><br>
                        <input>
                        <br>
                        <label>Contraseña</label>
                        <br>
                        <input>
                        <br>
                        <input type="submit";>


                    </form>


            </div>
    </body>