<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mi Perfil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'href='/static/Perfil.css'>
</head>
<body>  
    <h1 id="h1">Mi Perfil</h1>
    <nav class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/inicio/usuarios">Inicio</a></li>
            <li><a href="/vacantes">Postulaciones</a></li>
        </ul>
    </nav>

    <div class="cont-info">
        <img src="/static/images/logo.png" alt="Avatar" class="avatar">
        <h2>Nombre del Usuario</h2>
        <p class="email">usuario@email.com</p>
        <p class="info-extra">Otra información relevante</p>
        <a href="#" class="btn-accent">Cambiar contraseña</a>
    </div>
</body>
</html>